@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #374151
  /* background-color: #fff */
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-gradient {
  background: linear-gradient(92deg, #8BB290 2.87%, #709E78 96.18%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root{
  color-scheme: dark;
}

@layer utilities {
  .bg-hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0;
  }

  .bg-hero {
    position: relative;
  }
}